.navbar {
    position: fixed;
    top: 0px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-item {
    float: left;
}

.list-item a {
    float: left;
    background-color: black;
    display: block;
}

.link {
    text-decoration: none;
    color: white;
    padding: 20px 50px;
}

.link:hover {
    color: grey;
    text-decoration: none;
}